
    <footer>
        <div>
            <img src="{{ asset('assets/img/logoEcoleOscar.jpg') }}" alt="Oscar école européenne d'ostéopathie" title="Oscar école européenne d'ostéopathie">
        </div>
        <div class="text-footer">
            <h2>École Oscar</h2>
            <p>Campus Privé d'Alsace</p>
            <p>24a Rue des magasins - 67000 Strasbourg</p>
            <p>Tel: +33 (0)3 88 23 14 14 - info@ecoleoscar.com</p>
        </div>
    </footer>


