
    <header>
        <div class="flex-header">
            <img class="logo_oscar" src="{{ asset('assets/img/logoCliniqueOscar.jpg') }}" alt="École européenne d'ostéopathie" title="École européenne d'ostéopathie">
            <div>
                <p class="banniere1">Certification</p>
                <img class="logo_ministere" src="{{ asset('assets/img/sante.jpg') }}" alt="Agréée par le Ministère des affaires sociales et de la santé" title="Agréée par le Ministère des affaires sociales et de la santé">
                <p class="banniere2">Prenez rendez-vous</p>
            </div>
        </div>

        <div class="zone-reservation">
            <h1 class="reservation">Reservez une consultation ostéopathique</h1>
        </div>
    </header>


