{% extends 'base.html.twig' %}

{% block body %}

      {{ include('app/header.html.twig') }}

    <body onload="On_date()">

    <main>

        <p>L’école est située au centre-ville de Strasbourg, et a pour vocation de former des ostéopathes
            dans le respect des valeurs de l’ostéopathie et de la protection des patients. </p>

        <p>OSCAR dispense un enseignement de l’ostéopathie de haut niveau pour encadrer ses étudiants à devenir des praticiens confirmés et diplômés.</p>

        <p>La démarche pédagogique d’OSCAR est unique.</p>

        <p>Des intervenants expérimentés initient selon un haut niveau de connaissance un enseignement théorique et pratique.</p>

        <img class="student" src="{{ asset('assets/img/student.jpg') }}" alt="oscar">

        <p>Le but étant de former un véritable professionnel capable dès la sortie du cursus de prendre en charge des patients
            pour diagnostiquer et traiter les lésions ostéopathiques.</p>

        <p>Tout ceci en garantissant la sécurité et la qualité des soins au patient.</p>

        <p>L’ostéopathie à tout âge de la vie : l’ostéopathie choisit la technique la mieux adaptée et la plus confortable pour chaque patient,
            en fonction de son âge et de sa morphologie et de la zone du corps à corriger.<p>

        <p>Il peut traiter le nourrisson, l’enfant, l’adulte comme la personne âgée.</p>

        <div class="space"></div>
        <a class="link" href="{{ path('reservation_new') }}">Prendre RDV</a>
        <div class="space"></div>
    </main>

    {{ include('app/footer.html.twig') }}

{% endblock %}
