{{ form_start(form) }}
    <div class="flexi-form">
        {{ form_label(form.name, null, {'label_attr': {'class': 'foo'} }) }}
        {{ form_widget(form.name, {'attr': {'class': 'float_input'}}) }}
    </div>

    <div class="flexi-form">
        {{ form_label(form.surname, null, {'label_attr': {'class': 'foo'} }) }}
        {{ form_widget(form.surname, {'attr': {'class': 'float_input'}}) }}
    </div>

    <div class="flexi-form">
        {{ form_label(form.phone, null, {'label_attr': {'class': 'foo'} }) }}
        {{ form_widget(form.phone, {'attr': {'class': 'float_input'}}) }}
    </div>

    <div class="flexi-form">
        {{ form_label(form.mail) }}
        {{ form_widget(form.mail, {'attr': {'class': 'float_input'}}) }}
    </div>

    <div class="flexi-form">
        {{ form_label(form.date_rdv) }}
        {{ form_widget(form.date_rdv, {'id': 'date','attr': {'class': 'float_input_date'}}) }}
    </div>

    <div class="flexi-form">
        {{ form_label(form.time) }}
        {{ form_widget(form.time, {'attr': {'class': 'float_input'}}) }}
    </div>

    <div class="flexi-form">
        {{ form_label(form.price) }}
        {{ form_widget(form.price, {'attr': {'class': 'float_input'}}) }}
    </div>

    <div class="flexi-form">
        {{ form_widget(form.acceptance, {'attr': {'class': 'Autorisation close'}}) }}
        {{ form_label(form.acceptance, null, {'label_attr': {'class': 'texte-autorisation'} }) }}
    </div>

{{ form_rest(form) }}

<button class="submit">{{ button_label|default('Valider RDV') }}</button>

{{ form_end(form) }}
