{% extends 'base.html.twig' %}

{% block body %}

    {{ include('app/header.html.twig') }}

<body onload="On_date()">

<main>
    <div class="space"></div>
    <a class="link" href="{{ path('home') }}">Retour</a>
    <div class="space"></div>

    <p>Chaque consultation dure environ 45 minutes.</p>
    <ul>
        <li>15 € pour les enfants, les étudiants et les tarifs réduits</li>
        <li>20 € pour le tarif adulte</li>
        <li>60 € pour 6 séances</li>
    </ul>
    <p>En clinique les soins dispensés par nos étudiants encadrés<br> par des <strong>enseignants ostéopathes professionnels</strong>.</p>
    <p>Merci de renseigner les champs ci-dessous.</p>

    {{ include('reservation/_form.html.twig') }}
</main>

{{ include('app/footer.html.twig') }}

{% endblock %}
