{% extends 'base.html.twig' %}

{% block body %}

    {{ include('app/header.html.twig') }}

<body onload="On_date()">
    <main>
        <h2>Votre reservation Numéro : {{ reservation.id }}</h2>

        <p>Bénéficiez d’une prise en charge toute l’année, du lundi au samedi, par des étudiants confirmés et encadrés par des ostéopathes expérimentés.</p>

        <hr>

        <h3>Vos informations :</h3>

        <table class="table">
            <tbody>
            <tr>
                <th>Nom :</th>
                <td>{{ reservation.name }}</td>
            </tr>
            <tr>
                <th>Prenom :</th>
                <td>{{ reservation.surname }}</td>
            </tr>
            <tr>
                <th>Téléphone :</th>
                <td>0{{ reservation.phone }}</td>
            </tr>
            <tr>
                <th>Email :</th>
                <td>{{ reservation.mail }}</td>
            </tr>
            <tr>
                <th>Rendez-vous :</th>
                <td>{{ reservation.dateRdv ? reservation.dateRdv|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Heure  : </th>
                <td>{{ reservation.time }}</td>
            </tr>
            <tr>
                <th>Tarification :</th>
                <td>{{ reservation.price }} €</td>
            </tr>
            <tr>
                <th>Consentement :</th>
                {% if reservation.acceptance == 1 %}
                    <td>Concentement approuvé</td>
                {% else %}
                    <td>Concentement refusé</td>
                {% endif %}
            </tr>
            </tbody>
        </table>

        <p>Supprimer votre consultation d’ostéopathie en ligne 24h/24</p>

        {{ include('reservation/_delete_form.html.twig') }}

        {#<a href="{{ path('reservation_index') }}">back to list</a>

        <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>

        {{ include('reservation/_delete_form.html.twig') }}#}
    </main>

    {{ include('app/footer.html.twig') }}

{% endblock %}