<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="robots" content="INDEX,FOLLOW" />
            <meta name="theme-color" content="#ffffff">
            <meta name="author" content="Passeri Mario" />
            <meta name="copyright" content="Passeri Mario" />
            <meta name="geo.placename" content="Strasbourg, Alsace">
            <meta name="geo.country" content="FR">
            <title>{% block title %}Formulaire training{% endblock %}</title>
            <link rel="shortcut icon" href="{{ asset('assets/img/svg/logo.svg') }}" type="image/x-icon">
            <meta name="description" content="micro app formulaire d'entrainement de reservation">
            {% block stylesheets %}
                <link href="{{ asset('assets/css/normalize.css') }}" rel="stylesheet">
                <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
            {% endblock %}

            {% block javascripts %}
                <!-- JS -->
                <script src="{{ asset('assets/js/jquery.js') }}"></script>
                <script src="{{ asset('assets/js/app.js') }}"></script>
            {% endblock %}
        </head>
    <body>
    {% block body %}{% endblock %}
    </body>
</html>
